# This file is part of package ipc3270 5.3
#
# Reference:
#
#	http://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#
[Unit]
Description="PW3270 IPC Service Daemon"
Requires=var-run.mount nss-lookup.target network.target
After=var-run.mount nss-lookup.target network.target

[Service]
Type=notify
ExecStartPre=/bin/echo 'Starting ipc3270 IPC Service'
ExecStart=/usr/sbin/ipc3270 --core --pidfile=/var/run/ipc3270.pid
Restart=on-failure
PIDFile=/var/run/ipc3270.pid
RestartSec=10s
WatchdogSec=120

[Install]
WantedBy=multi-user.target

